@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://css.gg/css?=|instagram|twitter');

@font-face {
    font-family: 'HerbsAndGreenTea';
    src: url(../assets/fonts/HerbsAndGreenTea.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}   

body {
    background: #EBEACB;
    color: #1f1f1f;
}

html, body {
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
  
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------- */


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background-color 0.3s ease-in-out;
}


.logo {
    position: relative;
    font-family: 'HerbsAndGreenTea', sans-serif;
    font-size: 500%;
    color: #1f1f1f;
    font-variant: small-caps;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 768px) {
        .logo {
            display: none;
        }
    }


/* -------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section { padding: 80px 0; }

.box { padding: 1%; }

/* --- PARAGRAPHS --- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* --- ICONS --- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #0E6144;
    margin-bottom: 10px;
    margin-left: 45%;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #0E6144;
    font-size: 120%;
    margin-right: 10px;

/* Align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -2px;
}

/* -------------------------------------------------------------------- */
/* HOME SCREEN */
/* -------------------------------------------------------------------- */

.home {
    height: 100vh;
    background: url(../assets/images/heroimage.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-family: 'HerbsAndGreenTea', sans-serif;
    font-size: 216px;
    font-weight: 500;
    line-height: 0.6;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #0E6144;
    line-height: 1.1;
    font-variant: small-caps;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #0E6144;
    border: 2px solid #0E6144;
    border-radius: 8px;
    font-size: 19px;
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #0E6144;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #0E6144;
}

.btn-box a:nth-child(2):hover {
    color: #f5f5f5;
}

.btn-box a:nth-child(2)::before {
    background: #0E6144;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #EBEACB;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

/* CHICKY IMAGE */

.home-image {
    width: auto;
    height: 100vh;
    background: url(../assets/images/heroimage.png);
    background-size: cover;
    background-position: center;
}

/* HOME MOBILE */

@media (max-width: 768px) {

    .home {
        padding: 0 5%;
    }

    .home-image {
        background: none;
        background-color: #EBEACB;
    }

    .home-content h1 {
        text-align: center;
        font-size: 124px;
        line-height: 0.8;
    }
}


/* -------------------------------------------------------------------- */
/* INTRO SECTION */
/* -------------------------------------------------------------------- */

.section-intro { 
    background: #0a3022;
    color: #fff;
}

.section-intro h1, 
.section-intro h2, 
.section-intro h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.section-intro h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.section-intro h2 {
    font-family: 'HerbsAndGreenTea', sans-serif;
    font-size: 450%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.section-intro h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.section-intro h2:after {
    display: block;
    height: 2px;
    background-color: #FFD77A;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* -------------------------------------------------------------------- */
/* PORTFOLIO SECTION */
/* -------------------------------------------------------------------- */

.pbp-portfolio h2 {
    font-family: 'HerbsAndGreenTea', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color:#0a3022;
    font-size: 450%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.pbp-portfolio h2:after {
    display: block;
    height: 2px;
    background-color: #6E2E2B;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.pbp-portfolio h3 {
    display: flex;
    position: relative;
    text-align: center;
}

* {box-sizing:border-box}

/* -------------------------------------------------------------------- */
/* SLIDESHOW */
/* -------------------------------------------------------------------- */

.pbp-slideshow {
    background: #0a3022;
    max-width: 100%;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 70%;
    height: 60vh;
    overflow: hidden;
    margin: auto;
}

.slideshow-container img {
    display: block;
    height: 60vh;
    margin: 0 auto;
    max-width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/13 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 768px) {
    .slideshow-container {
        width: 100%;
    }
}



/* -------------------------------------------------------------------- */
/* TESTAMONIALS */
/* -------------------------------------------------------------------- */

.pbp-testamonials {
    background-size: cover;
    color: black;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 200%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* -------------------------------------------------------------------- */
/* CONTACT FORM */
/* -------------------------------------------------------------------- */

.pbp-contact {
    margin: 100px;
    padding: 50px;
    background-color: #0a3022;
    color: #fff;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.pbp-contact h2 {
    font-family: 'HerbsAndGreenTea', sans-serif;
    font-size: 450%;
    font-weight: 600;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

.pbp-contact h2:after {
    display: block;
    height: 2px;
    background-color: #FFD77A;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/* EMAIL FORM */

.form {
    width: 100%;
    max-width: 400px; /* Limit the form width for better readability */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    position: relative;
    background-color: #fff; /* Form background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle depth effect */
}

label {
    display: block;
    font-weight: 600; /* Bold label text */
    font-size: 1.2rem; /* Larger font size for labels */
}

.message-input-label {
    margin-top: 20px;
    border: 1px solid #0E6144;
    border-radius: 8px;
    padding: 10px;
}

.name-input,
.email-input,
.message-input {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    width: 60%;
    background-color: #D4E8D4;
}

.message-input {
    height: 200px;
    resize: none; /* Prevent resizing of the message input */
}

.email-send {
    margin-top: 20px;
    font-size: 1rem;
    background-color: #0E6144;
    border: 2px solid #0E6144;
    border-radius: 8px;
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    padding: 10px 20px;
    transition: background-color 0.5s;
    text-transform: uppercase;
    cursor: pointer; /* Add a pointer cursor for better user feedback */
}

.email-send:hover {
    background-color: transparent;
    color: #0E6144;
}

.email-form {
transform: translateX(10%);
}


/* EMAIL FORM ON MOBILE */

@media (max-width: 768px) {
    .pbp-contact {
        max-width: none; /* Remove the maximum width for the section */
        width: 100%; /* Make the section cover the entire width of the screen */
        margin: 0; /* Remove margin for the .pbp-contact section */
        padding: 0; /* Remove padding for the .pbp-contact section */
        height: 100vh;
      }
  
    .email-form {
      width: 100%; /* Make the form expand to full screen width */
      margin: 0; /* Remove margin for better mobile layout */
      padding: 10px; /* Adjust padding as needed */
      transform: none; /* Reset any previous transforms */
      border-radius: none;
    }
  
    .name-input,
    .email-input,
    .message-input {
      width: 100%; /* Make input fields expand to full width */
    }
  }
